[workspace]
members = [
    "programs/*"
]
resolver = "2"

[profile.release]
overflow-checks = true
codegen-units = 1
lto = "fat"

[profile.release.build-override]
incremental = false
codegen-units = 1
opt-level = 3
